@import '~@angular/material/theming';

// Create a config with the default typography levels.
$config: mat-typography-config();

@mixin amte-parent-theme($theme) {
  // Extract the color variables
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foregorund: map-get($theme, foregorund);
  $background: map-get($theme, background);

  // Component selector
  amte-parent {
    >div {
      background-color: mat-color($primary, lighter);
      >h1 {
        color: mat-color($primary);
      }
    }
    // Custom header that uses only the Material `font-size` and `font-family`
    .amte-parent-heading {
      font-size: mat-font-size($config, display-3);
      font-family: mat-font-family($config);
    }

    // Custom heading that uses all of the typography styles from the `display-3` level.
    .amte-parent-heading-alt {
      @include mat-typography-level-to-styles($config, display-3);
    }
  }
}