<div [class]="theme">
  <h1>
    Welcome to {{title}}
  </h1>
  <mat-card>
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-button routerLink=".">Link</a>
  </mat-card>
  <br>
  <mat-card>
    <mat-form-field>
      <mat-label>Theme</mat-label>
      <mat-select [(ngModel)]="theme" (selectionChange)="onThemeChange()">
        <mat-option value="light-theme">Light</mat-option>
        <mat-option value="dark-theme">Dark</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
  <br>
  <mat-card>
    <amte-parent>
      <h1>Transclusion sample</h1>
    </amte-parent>
  </mat-card>
</div>