<div>
  <h1>
    Welcome to {{title}}
  </h1>
  <mat-card>
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-button routerLink=".">Link</a>
  </mat-card>
  <br>
  <mat-card>
    <mat-form-field>
      <mat-label>Favorite Animal</mat-label>
      <mat-select>
        <mat-option value="cat">Cat</mat-option>
        <mat-option value="cats">Cats</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
</div>