// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-material-themes-example-primary: mat-palette($mat-indigo);
$angular-material-themes-example-accent: mat-palette($mat-pink, 400, 200, 600);

// The warn palette is optional (defaults to red).
$angular-material-themes-example-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$angular-material-themes-example-theme: mat-light-theme($angular-material-themes-example-primary, $angular-material-themes-example-accent, $angular-material-themes-example-warn);
