// for npm npm-font-open-sans package (to load local files)
$FontPathOpenSans: "~npm-font-open-sans/fonts";
@import '~npm-font-open-sans/open-sans';

// for npm material-icons package (to load local files)
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
// mat-typography-level function requires a font-size, line-height, and font-weight
$custom-typography: mat-typography-config(
  $font-family: 'Open Sans, monospace',
  $headline: mat-typography-level(22px, 38px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// Override the typography in the core CSS.
@include mat-core($custom-typography);

@import './themes/angular-material-themes-example-theme';
@import './themes/angular-material-themes-example-dark-theme';

// Import the parent-component theme
@import './app/example/parent/parent-component-theme';

// Create a mixin that contains all component themes
@mixin app-components-theme($theme) {
  @include amte-parent-theme($theme);
  // Include extra application component themes
}

.light-theme {
  // Include theme styles for core and each component used in your app.
  // Alternatively, you can import and @include the theme mixins for each component
  // that you are using.
  @include angular-material-theme($angular-material-themes-example-theme);
  // Include application component themes
  @include app-components-theme($angular-material-themes-example-theme);
}

.dark-theme {
  @include angular-material-theme($angular-material-themes-example-dark-theme);
  // Include application component themes
  @include app-components-theme($angular-material-themes-example-dark-theme);
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }
